
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF7F32; /* Orange */
    padding: 1rem;
    color: white;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    background-color: #D1A6F7; /* Light Purple */
}

footer {
    text-align: center;
    background-color: #FF7F32;
    color: white;
    padding: 1rem;
}
